.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}
.search {
  text-align: center;
}
.topnav {
  text-align: end;
  font-family: fontawesome;
}
.type {
  width: 580px;
  border-radius: 25px;
  height: 40px;
}
.buttons {
  height: 30px;
}